<form action='/blog' method='post'>
Title:<input type='text' name='title'><br>
Author:<input type='text' name='author'><br>
Summmary:<input type='text' name='summary'><br>
Content:<input type='text' name='content'><br>
<button >submit</button>
</form>